<header>
  <div>
    <%= image_tag 'logo.png', id: 'logo' %>
    <navigation>
      <ul id="menu">
        <li>
          <%= link_to('Home', root_path) %>
        </li>
        <li>
          <a href="profile.html">Profile</a>
        </li>
        <li>
          <a href="account.html">Account</a>
        </li>
        <li>
          <a href="main.html">Main</a>
        </li>
        <li>
          <%= link_to('Login', user_session_path, id:'loginLink', class: 'makeButton') %>
        </li>
        <li>
          <a href="registration.html">Register</a>
        </li>
      </ul>
    </navigation>
  </div>
</header>