<div id="contentsHome">
  <div id="adbox">
    <div class="wrapper1 clearfix1">
      <div class="info">
        <h1>SpaceBook</h1>

        <p>

        </p>
      </div>
    </div>
    <div class="highlight">
      <h2>Keep in Contact with the World - <i>Privacy is our #1 goal!</i></h2>
    </div>
  </div>
  <div id="infoP">
    <div class="click-here">
      <h1>Get Your Own Account Now!</h1>
      <a href="index.html" class="btn2">Click Here!</a>
    </div>
    <h1 id="welcome">
      Welcome to SpaceBook
      </p>
      <p id="last">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec mi tortor. Phasellus commodo semper
        vehicula. Praesent aliquam semper massa et scelerisque. Suspendisse dapibus interdum diam, non varius nisl
        laoreet at. Pellentesque imperdiet molestie sollicitudin. Sed nec magna nibh, sed interdum nisi. Mauris vel
        pretium nibh. Morbi congue velit quis eros imperdiet ac el eifend elit condimentum. Nulla vestibulum dictum
        tellus quis iaculis. Duis a diam vitae sem tristique vestibulum. Praesent dapibus, tortor nec hendrerit
        pulvinar, lectus tortor viverra ante,
      </p>
    </h1>
  </div>
</div>

