<h3>Find Friends</h3>
<% if friends.count > 0 %>
    <% friends.each do |friend| %>
        <%= form_tag(find_friends_path, method: 'post', :remote => true) do %>
            <%= friend %> <%= hidden_field_tag 'add_friend', friend %><%= submit_tag 'Add Friend', class: 'makeButton' %>
        <% end %>
    <% end %>
<% else %>
    Sorry, but we didn't find anyone.
<% end %>