// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*-----Prevents iPhone from resizing in landscape mode -----*/
html {-webkit-text-size-adjust: none; }

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


img {
  border: 0;
}

#contentsHome {
  background: url(bg-content.png) repeat-x center top;
  margin: 0 0 24px;
  padding: 56px 0 0;
}

#space {
  color: #fbfdfd;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 5.9vw;
  margin: 10px 0px 18px 18px;
}


#contentsHome p {
  color: #e8eff4;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0 0 30px;
  text-align: justify;
}

#contentsHome {
  color: #e8eff4;
  font-size: 14px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 30px;
}

#contentsHome p a {
  color: #e8eff4;
}

#contentsHome p a:hover {
  color: #0aa3fa;
}

#contentsHome p b {
  display: block;
}

#contentsHome .body {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

#contentsHome .click-here {
  float: right;
  background: url(spacecraft.jpg) no-repeat center top;
  display: inline-block;
  height: 162px;
  width: 301px;
  margin-left: 20px;
  text-align: center;
}

#contentsHome .click-here h1 {
  color: #addcfe;
  font-style: italic;
  line-height: 36px;
  margin: 18px 0;
}

/** Box below image **/
#adbox {
  background: #020a13 url(bg-adbox.jpg) no-repeat center top;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-height: 433px;
  margin: -56px 0 22px;
  /** Needed for IE7 **/
  *margin: 0;
  *position: relative;
  *top: -56px;
}

#adbox .wrapper {
  width: 100%;
  padding: 54px 10px 26px;
}

#adbox .info {
  height: 354px;
  width: 50%;
  overflow: hidden;
}

#adbox h1 {
  color: #ffffff;
  font-size: 48px;
  font-style: italic;
  line-height: 50px;
  margin-bottom: 30px;
}

#adbox p {
  color: #176eb0;
  font-size: 14px;
  line-height: 24px;
}

 .btn2 {
  padding: 10px 15px;
  background: #003E58;
  color: #FFF;
  text-align: center;
   text-decoration: none;
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  .btn2:focus {
    background: #016F94;
    border: solid 1px #647C51;
    text-decoration: none;
  }
  .btn2:active {
    background: #016F94;
    //border: solid 1px #647C51;
    //background: #72BD64;
    //border: solid 1px #475E3A;
    text-decoration: none;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

#adbox div.highlight {
  background: #171a1a url(adbox-bg-heading.jpg) repeat-x left top;
  min-height: 82px;
  border-color: #000;
  border-style: solid none;
  border-width: 1px;
}

#adbox div.highlight h2 {
  color: #484b4b;
  font-size: 34px;
  line-height: 82px;
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  text-shadow: -3px 0 3px #121413;
}

#adbox div.highlight h2 i {
  font-weight: normal;
}
/** main **/
.main {
  padding: 0 10px;
  width: 100%;
}

#welcome{
  font-size: 2.5em;
  display: block;
  margin-bottom: 15px;
}

#infoP #last{
  font-size: 12px;
  max-width: 100%;
  margin: 10px;
}

/** sidebar - Get Your Own Account **/
#sidebar {
  float: right;
  width: 220px;
  margin: 0 10px 0 80px;
}

#sidebar ul {
  list-style: none;
  margin: 0 0 80px;
  padding: 0;
}

#sidebar > ul li {
  margin: 0 0 16px;
}

#sidebar > ul li img {
  border: 4px solid #fff;
  border-radius: 3px;
}

#sidebar > ul li a:hover {
  filter:alpha(opacity=80);
  opacity:0.8;
}

#sidebar .click-here {
  background: url(spacecraft-dark.jpg) no-repeat center top;
  display: inline-block;
  height: 162px;
  width: 221px;
  margin-left: 20px;
  text-align: center;
}



