//Mobile, default
@mixin basicText {
  font-family: 'Puritan', sans-serif;
}

@font-face {
  font-family: 'Puritan';
  src: font-url('Puritan-Regular.ttf') format('truetype');
}

@mixin borderRadius {
  border-radius: $borderRadiusAmount;
  -moz-border-radius: $borderRadiusAmount;
  -webkit-border-radius: $borderRadiusAmount;
}

@mixin makeButton {
  padding: 10px 15px;
  background: #003E58;
  color: #FFF;
  text-align: center;
  @include borderRadius;
  cursor: pointer;
  //border: solid 1px #647C51;
  //@include drop-shadow;
  box-shadow: inset 0 2px 1px rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &:focus {
    background: #016F94;
    border: solid 1px #647C51;
    text-decoration: none;
  }
  &:active {
    background: #016F94;
    //border: solid 1px #647C51;
    //background: #72BD64;
    //border: solid 1px #475E3A;
    text-decoration: none;
    box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.6), 0 2px 2px rgba(0, 0, 0, 0.2);
  }
}

$borderRadiusAmount: .4rem;

*, *:before, *:after {
  -webkit-text-size-adjust: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: url(bg-body.jpg) repeat left top;
  font-size: 16px;
  font-weight: 300;
  @include basicText;
  margin: 0;
}

form {
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}

#content {
  margin: 1em auto;
  text-align: center;
  width: 100%;
  input[type=submit] {
    font-size: 1rem;
    margin: .5em 0;
    color: white;
    @include makeButton;
  }
  p {
    margin: 0;
    padding: inherit;
  }
  h2 {
    margin: 0;
    padding: 0 0 1em 0;
  }
  form.new_user {
    .field:nth-child(3) {
      margin: .5em 0;

    }
  }
}

header {
  display: block;
  //background: url(bg-header.png) repeat center top;
  background-color: black;
  clear: right;
  width: 100%;
  padding: 1em 0 0;
  //text-align: right;
  #logo {
    text-align: left;
    margin: 0;
    padding: 0;
    width: 6em;
    color: white;
  }
  nav {
    display: none;
  }
}

.makeButton {
  @include makeButton;
  text-decoration: none;
}

footer {
  background-color: #e8eff4;
  background: #072438 url(bg-footer.jpg) no-repeat center top;
  text-align: center;
  border-top: 1px solid #fdfcfc;
  min-height: 8.5em;
  padding: .5em 0;
  //@include borderRadius;
}

#copy {
  color: #fff;
}