//Desktop
@media only screen and (min-width: 1024px) {
  #content {
    #contentsHome {
      width: 80%;
      margin: 0 auto;
      #infoP {
        .click-here {
          float: right;
        }
        #last {
          max-width: 50%;
          margin: 0 20%;
        }
      }
    }
    #error_explanation {
      margin: 0 auto;
      width: 80%;
    }

    #galaxyTopContainer {
      #findFriendsForm {
        position: absolute;
        right: 0;
        top: 0;
      }
      #findFriendsResults {
        position: absolute;
        right: 0;
        width: 20em;
        z-index: 10;
        @include boxShadow;
      }
    }
    #myFriends {
      float: right;
      width: 20%;
    }
  }

  #galaxies {
    display: inline-block;
    margin-left: 200px;
    .galaxy {

      padding: 1% 2%;
      width: 360px;
      p {
        text-align: center;
      }
      span {
        font-weight: bold;
      }
    }
  }

  //profile
  #showPage {
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }

  #wrapper {
    margin: 10px;
    text-align: left;

  }

  #avatar {
    float: left;
    margin: 10px;

    img {
      border-radius: 10px;
    }
  }

  #comment {
    margin: 20px;
    padding: 30px;

    strong {
      font-weight: bold;
      font-size: 1.5em;

    }
  }
}